.limbo-umbraco-block-list {

    &.type-converter-overlay .umb-node-preview {
        padding-left: 10px;
        cursor: pointer;
        &:hover {
            background: #e9e9eb;
        }
    }

}